table {
  background: cornsilk;
  margin: 0 auto;
  margin-top: 25px;
  padding: 1px;
}

td {
  font-size: 50px;
  text-align: center;
  width: 100px;
  height: 100px;
}

html {
  background: chartreuse;
}
